---
# values.yaml
namespace:
  name: sandbox

service:
  port: 4111
  targetPort: 3111
  protocol: TCP
  type: ClusterIP

image:
  repository: dbhatta/techtrends
  tag: latest
  imagePullPolicy: IfNotPresent

ports:
  containerPort: 3111

replicaCount: 1

resources:
  requests:
    cpu: 250m
    memory: 64Mi
  limits:
    cpu: 500m
    memory: 128Mi

livenessProbe:
  path: /healthz
readinessProbe:
  path: /healthz
